body {
  font-family: Arial;
  background: #27235c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #9bb9d0;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
  padding: 10px;
  margin: 10px;
  width: 150px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: rgb(47, 238, 255);
  
}

#message {
  font-weight: bold;
  margin-top: 15px;
}